{extend name="index/index" /}
{block name="main"}
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading Start -->
        <div class="page-heading">
            <h1><i class='fa fa-table'></i> 角色管理</h1>
            <h3>角色列表</h3></div>
        <!-- Page Heading End-->                <!-- Your awesome content goes here -->
        <div class="row">

            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>Sortable</strong> Table</h2>
                        <div class="additional-btn">
                            <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table data-sortable class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>角色名</th>
                                    <th>角色说明</th>
                                    <th>状态</th>
                                    <th>拥有全限</th>
                                    <th data-sortable="false">Option</th>
                                </tr>
                                </thead>

                                <tbody>
                                {volist name='list' id='v'}
                                <tr>
                                    <td>{$v.id}</td>
                                    <td>{$v.name}</td>
                                    <td>{$v.remark}</td>
                                    <td>{if condition="$v.status eq 1"}启用
                                        {else/}禁用
                                        {/if}

                                    </td>
                                    <td></td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                            <button data-id="{$v.id}"data-toggle="tooltip" title="删除"  class=" btn btn-default del-btn "><i
                                                    class="fa fa-power-off"></i></button>
                                            <a href="{:url('admin/role/edit',['id'=>$v['id']])}" data-toggle="tooltip" title="修改" class="btn btn-default"><i
                                                    class="fa fa-edit"></i></a>
                                            <a href="{:url('admin/role/nodelist',['id'=>$v['id']])}" data-toggle="tooltip" title="权限分配" class="btn btn-default"><i
                                                    class="fa fa-edit"></i></a>        
                                        </div>
                                    </td>
                                </tr>
                                {/volist}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                        <div class="data-table-toolbar">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Footer Start -->
        <footer>
            Huban Creative &copy; 2014
            <div class="footer-links pull-right">
                <a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a
                    href="#">Help</a><a href="#">Contact Us</a>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!-- ============================================================== -->
    <!-- End content here -->
    <!-- ============================================================== -->

</div>
<!-- End right content -->

{js href="/static/index/js/jquery.min.js"}
{js href="/static/index/js/bootstrap.min.js"}
{js href="/static/index/js/toastr.min.js"}
<script>
    $(function () {
        // 触发删除用户
        $('.del-btn').click(function () {
            var ac_id = $(this).attr('data-id');
            //             console.log('删除操作,ID为: ' + ac_id);
            if (confirm('您确定要 [ 删 除 ] 该角色吗?')) {
                var obj = $(this).parents('tr');
                //                 console.log(obj);
                delAjax(ac_id, obj); // 执行AJAX删除
            }
        });
    });

    // 设置弹框参数
    toastr.options = {
        closeButton: true,// 是否显示关闭按钮
        progressBar: true,// 实现显示计时条
        timeOut: "3000",// 自动关闭时间
        positionClass: "toast-bottom-left"// 提示位置
        // positionClass: "toast-top-full-width"// 提示位置
        // toast-top-full-width 顶端，宽度铺满整个屏幕
        // toast-top-right  顶端右边
    };

    // 执行AJAX删除
    function delAjax(id, obj) {
        console.log(id);
        $.ajax({
            type: 'delete',
            url: '/role/' + id,
            dataType : 'json',
            success : function (data){
                // console.log(data);
                if (data.status) {
                    toastr.success(data.info);
                    obj.remove();
                } else {
                    toastr.error(data.info, '警告 :');
                }
            },
            error : function () {
                alert('删除失败');
            }
        });
    }

</script>
{/block}