{extend name="index/index" /}
{block name="main"}
    <!-- Right Sidebar End -->		
		<!-- Start right content -->
        <div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
            <div class="content">
								<!-- Page Heading Start -->
				<div class="page-heading">
            		<h1><i class='fa fa-check'></i> 权限管理 </h1>
            		            	</div>
            	<!-- Page Heading End-->	
								
				<!-- Your awesome content goes here -->
				<div class="row">
					


					<div class="col-sm-8 portlets">
						
						<div class="widget">
							<div class="widget-content padding">
									<form action="{:url('admin/role/savenode',['id'=>$role['id']])}" method="post" class="form-horizontal" role="form">
									  <div class="form-group">
										<label  class="col-sm-offset-1 control-label">
											给 <b class="h4">{$role.name}</b> 分配权限
										</label>

									  </div>

									  <div class="form-group">
										<div class="col-sm-offset col-sm-10">
										  <div class="checkbox">
												{volist name='nodes' id='v'}
											  <input type="checkbox" name="node[]" value="{$v.id}" {if condition="in_array($v['id'],$list)"}checked{/if} >{$v.name} &nbsp;&nbsp;
												  {if condition='$i%3 eq 0'}<br><br>{/if}
												{/volist}
										  </div>
										</div>
									  </div>

									  <div class="form-group">
										<div class="col-sm-offset-4 col-sm-10">
										  <button type="submit" class="btn btn-default"> 保存 </button>
										</div>
									  </div>
									</form>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>

					
				</div>
				<!-- End of your awesome content -->
			
				            <!-- Footer Start -->

			<!-- ============================================================== -->
			<!-- End content here -->
			<!-- ============================================================== -->

        </div>
		<!-- End right content -->

{/block}