{extend name="index/index" /}
{block name="main"}
    <!-- Right Sidebar End -->		
		<!-- Start right content -->
        <div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
            <div class="content">
								<!-- Page Heading Start -->
				<div class="page-heading">
            		<h1> 节点管理 </h1>
            		            	</div>
            	<!-- Page Heading End-->
				<div class="row">
					<div class="col-sm-6 portlets">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>添加节点</strong> </h2>
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
							</div>
							<div class="widget-content padding">
								<form action="{:url('admin/node/save')}" method= 'post' role="form" id="registerForm">
								  <div class="form-group">
									<label>节点名</label>
									<input type="text" class="form-control" name="name">
								  </div>

								  <div class="form-group">
									<label>控制器</label>
									<input type="text" class="form-control" name="mname">
								  </div>

									<div class="form-group">
										<label>操作</label>
										<input type="text" class="form-control" name="aname">
									</div>
									<div class="form-group">
										<label>
											<input type="radio" name="status" value="1" checked>
											启用
										</label>
										<label>
											<input type="radio" name="status" value="0" >
											禁用
										</label>
									</div>


								  <button type="submit" class=" btn btn-primary">save</button>
								</form>
							</div>
						</div>
				
				


            </div>
			<!-- ============================================================== -->
			<!-- End content here -->
			<!-- ============================================================== -->

        </div>
		<!-- End right content -->
{/block}
