{extend name="index/index" /}
{block name="main"}
		<!-- Start right content -->
        <div class="content-page">
			<!-- ============================================================== -->
			<!-- Start Content here -->
			<!-- ============================================================== -->
            <div class="content">
								<!-- Page Heading Start -->
				<h1><i class='fa fa-table'></i> 节点管理</h1>
				<h3>修改节点</h3></div>
			<!-- Page Heading End-->
				<div class="row">
					<div class="col-sm-6 portlets">
						<div class="widget">
							<div class="widget-content padding">
								<form  action="{:url('admin/node/update',['id'=>$list['id']])}"  method='post' role="form" id="registerForm">
									<input type="hidden" name="_method" value="put">
								  <div class="form-group">
									<label>节点名</label>
									<input type="text" class="form-control" name="name" value ={$list.name} >
								  </div>
								  <div class="form-group">
									<label>控制器名</label>
									<input type="text" class="form-control" name="mname" value = {$list.mname}>
								  </div>
									<div class="form-group">
										<label>方法名</label>
										<input type="text" class="form-control" name="aname" value = {$list.aname}>
									</div>
									<div class="form-group">
										<label>
											<input type="radio" name="status" value="1" {if condition="$list.status eq 1 "} checked{/if}>
											启用
										</label>
										<label>
											<input type="radio" name="status" value="0" {if condition="$list.status eq 0"} checked{/if}>
											禁用
										</label>
									</div>
								  <button type="submit" class="btn btn-primary">保存</button>
								</form>
							</div>
						</div>
				
				

				
				            <!-- Footer Start -->
            <footer>
                Huban Creative &copy; 2014
                <div class="footer-links pull-right">
                	<a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>
                </div>
            </footer>
            <!-- Footer End -->			
            </div>
			<!-- ============================================================== -->
			<!-- End content here -->
			<!-- ============================================================== -->

        </div>
		<!-- End right content -->
{/block}
	</div>
	<!-- End of page -->
		<!-- the overlay modal element -->
	<div class="md-overlay"></div>
	<!-- End of eoverlay modal -->
	<script>
		var resizefunc = [];
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="assets/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="assets/libs/jquery-detectmobile/detect.js"></script>
	<script src="assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="assets/libs/ios7-switch/ios7.switch.js"></script>
	<script src="assets/libs/fastclick/fastclick.js"></script>
	<script src="assets/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="assets/libs/nifty-modal/js/classie.js"></script>
	<script src="assets/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="assets/libs/sortable/sortable.min.js"></script>
	<script src="assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="assets/libs/bootstrap-select2/select2.min.js"></script>
	<script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
	<script src="assets/libs/pace/pace.min.js"></script>
	<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="assets/libs/jquery-icheck/icheck.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<script src="assets/libs/prettify/prettify.js"></script>

	<script src="assets/js/init.js"></script>
	<!-- Page Specific JS Libraries -->
	<script src="assets/libs/bootstrap-validator/js/bootstrapValidator.min.js"></script>
	<script src="assets/js/pages/form-validation.js"></script>
	</body>
</html>