<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="YiHSaUCgpwQ5bTCmeiQrwHYUgRcomZsy6hLpiS5p">
    <title>用户登录 - Tipask站长社区 </title>
    <meta name="keywords" content="用户登录" />
    <meta name="description" content="用户登录" />
    <!-- Bootstrap -->
        <link href="/static/index/tipask/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/index/tipask/css/account.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="/static/index/tipask/js/html5shiv.min.js"></script>
        <script src="/static/index/tipask/js/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="container">
        <div class="header text-center">
        <h1>
            <a href="https://wenda.tipask.com" class="logo">
                <img src="picture/login-logo.png" alt="Tipask站长社区">
            </a>
        </h1>
        <p class="description text-muted">欢迎加入Tipask站长问答社区</p>
    </div>
    <div class="col-md-6 col-md-offset-3 bg-white login-wrap">
                <h1 class="h4 text-center text-muted login-title">用户登录</h1>
        <form role="form" name="loginForm" action="https://wenda.tipask.com/login"  method="POST" >
            <input type="hidden" name="_token" value="YiHSaUCgpwQ5bTCmeiQrwHYUgRcomZsy6hLpiS5p">
                <div class="form-group ">
                    <label class="required">账户</label>
                    <input type="text" class="form-control" name="email" required placeholder="邮箱或手机号" value="">
                                    </div>

               <div class="form-group ">
                    <label for="" class="required">密码</label>
                    <input type="password" class="form-control" name="password" required placeholder="不少于 6 位">
                                    </div>


                            <div class="form-group clearfix">
                <div class="checkbox pull-left">
                    <label><input name="remember" type="checkbox" value="1" checked> 记住登录状态</label>
                </div>
                <button type="submit" class="btn btn-primary pull-right pl20 pr20">登录</button>
            </div>
                        <hr />
            <div class="widget-login mt-30">
                <p class="text-muted mt-5 mr-10 pull-left hidden-xs">快速登录</p>
                <a href="https://wenda.tipask.com/oauth/weixin/login" class="btn btn-default btn-sm btn-sn-weixin hidden-lg" ><span class="icon-sn-bg-weixin"></span> <strong class="visible-xs-inline">微信账号</strong></a>
                <a href="https://wenda.tipask.com/oauth/weixinweb/login" class="btn btn-default btn-sm btn-sn-weixin hidden-xs" ><span class="icon-sn-bg-weixin"></span> <strong class="visible-xs-inline">微信扫码</strong></a>
                <a href="https://wenda.tipask.com/oauth/weibo/login" class="btn btn-default btn-sm btn-sn-weibo" ><span class="icon-sn-bg-weibo"></span> <strong class="visible-xs-inline">新浪微博账号</strong></a>
                <a href="https://wenda.tipask.com/oauth/qq/login" class="btn btn-default btn-sm btn-sn-qq" ><span class="icon-sn-bg-qq"></span> <strong class="visible-xs-inline">QQ 账号</strong></a>
            </div>
                    </form>
    </div>

    <div class="text-center col-md-12 login-link">
        <a href="https://wenda.tipask.com/register">注册新账号</a>
        |
        <a href="https://wenda.tipask.com">首页</a>
        |
        <a href="https://wenda.tipask.com/forgetPassword">找回密码</a>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/index/tipask/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/index/tipask/js/bootstrap.min.js"></script>
<script src="/static/index/tipask/js/global.js"></script>

</body>
</html>